.contact {
  margin: 144px 0;
}

.contact-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-cta-link {
  text-decoration: none;
  color: var(--color500);
  border-bottom: 2px dotted currentColor;
}

.contact-form {
  width: 100%;
  max-width: 440px;
  padding: 24px 8px;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
}

.form-ctn {
  position: relative;
  width: 100%;
  height: 56px;
  margin: 8px 0 28px 0;
}

.form-input-box {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid var(--color400);
  border-radius: 8px;
  padding: 0 12px;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 16px);
  font-size: 0.9rem;
  pointer-events: none;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-input-box:focus ~ .form-label,
.form-input-box:valid ~ .form-label {
  transform: translate(4px, -20px) scale(0.9);
}

.form-text-ctn {
  width: 100%;
  height: 96px;
  margin: 0 0 32px 0;
}

.form-text-box {
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid var(--color400);
  border-radius: 8px;
  padding: 12px 12px;
  resize: none;
  overflow: auto;
}

.form-submit-btn {
  display: block;
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  background: var(--color500);
  color: var(--color100);
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.form-input-box,
.form-text-box,
.form-submit-btn {
  font-family: inherit;
}

.form-input-box:focus,
.form-text-box:focus {
  border-color: var(--color300);
}
