.footer-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px 48px 24px;
}

.footer-link {
  position: relative;
  font-size: 0.94rem;
  text-decoration: none;
  border-bottom: 2px dotted var(--color500);
  color: inherit;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer-link:hover {
  color: var(--color500);
}

.footer-nav-ctn,
.footer-mail-ctn {
  position: fixed;
  bottom: 0;
  left: var(--left);
  right: var(--right);
  width: 48px;
  min-height: 300px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.footer-nav-list {
  list-style: none;
}

.footer-nav-link,
.footer-mail-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.24rem;
  margin: 16px 0;
  transition: 300ms;
}

.footer-line-decoration {
  width: 2px;
  height: 144px;
  background: currentColor;
}

.footer-nav-link:hover,
.footer-mail-link:hover,
.footer-nav-link:focus,
.footer-mail-link:focus {
  color: var(--color500);
}

.footer-nav-link:focus,
.footer-mail-link:focus,
.footer-mail-link:hover {
  transform: translateY(-8px);
}

.footer-mail-link.mail-cta {
  --size: 64px;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color500);
  color: var(--color100);
  border-radius: 50%;
  margin-bottom: 32px;
}
