.home-ctn {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.home-text-ctn {
  max-width: 800px;
  padding: 48px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 24px auto;
}

.home-intro {
  margin-bottom: 8px;
}

.home-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--color300);
}

.home-heading-name {
  display: block;
  font-size: 2.4rem;
}

.home-heading h2 {
  color: var(--color400);
}

.home-short-description {
  width: 100%;
  max-width: 480px;
  margin: 24px 0 48px 0;
}

.home-cta-link {
  display: inline-block;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 600;
  background: var(--color500);
  color: var(--color100);
  border: 2px solid var(--color500);
  border-radius: 8px;
  transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-cta-link:hover {
  transform: scaleX(1.05);
}
