@font-face {
  font-family: Inter;
  src: url(fonts/Inter/Inter-Regular-slnt_2.woff);
  font-weight: normal;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter/Inter-SemiBold-slnt_1.woff);
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url(fonts/Inter/Inter-Bold-slnt_1.woff);
  font-weight: bold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color100: #fdfdfe;
  --color200: #3898ff;
  --color300: #081ae1;
  --color400: #191153;
  --color500: #f6591c;
  --color600: #9fbdd9;
  --color700: #415acb;
  --fixed-aside: 12px;
}

::selection {
  color: var(--color100);
  background: var(--color400);
  text-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-family: 1rem;
  font-weight: normal;
  background: #fff;
  color: var(--color400);
}

body.scroll-down > .header {
  transform: translateY(0);
}

body.scroll-up > .header {
  transform: translateY(-200px);
}

.ctn,
.header-ctn {
  width: 100%;
  max-width: 1140px;
  height: inherit;
  padding: 0 8px;
  margin: 0 auto;
}

.header-ctn {
  max-width: 1240px;
}

.btn {
  height: 48px;
  display: flex;
  font-size: 0.9rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--color300);
  padding: 0 16px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle; /*learn more about 'vertical-align' property*/
  border-radius: inherit;
}

section {
  width: 100%;
  scroll-margin-top: 124px;
}

.section-header {
  width: 100%;
  max-width: 480px;
  text-align: center;
  padding: 0 24px 48px 24px;
  margin: 0 auto;
}

.section-title {
  line-height: 1.2;
  font-size: 1.8rem;
  letter-spacing: 0.6px;
  color: var(--color300);
  margin-bottom: 24px;
}
