@import url(./initials.css);
@import url(./navbar.css);
@import url(./home.css);
@import url(./about.css);
@import url(./portfolio.css);
@import url(./contact.css);
@import url(./footer.css);

@media (min-width: 768px) {
  .ctn {
    width: 90%;
  }
  .nav {
    display: block;
  }

  .menu-box {
    display: none;
  }

  .home-heading {
    font-size: 1.86rem;
  }

  .home-heading-name {
    font-size: 1.5rem;
  }

  .about-ctn {
    width: 80%;
  }

  .about-img-box {
    width: 50%;
    margin: 0;
    justify-self: flex-end;
  }

  .about-text-box {
    width: 65%;
    text-align: start;
    justify-self: flex-start;
  }

  .portfolio-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
  }

  .portfolio-item:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .portfolio-item:nth-child(2n) .portfolio-item-description-ctn {
    text-align: end;
  }
  .portfolio-item-description-ctn {
    width: 35%;
  }

  .portfolio-item-image-ctn {
    width: 60%;
  }

  .portfolio-alt-ctn {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-alt-box {
    max-width: 280px;
    margin: 8px 8px;
  }

  .contact-form {
    padding: 24px 24px;
  }

  .footer-nav-ctn,
  .footer-mail-ctn {
    display: flex;
  }
}

@media (min-width: 1000px) {
  :root {
    --fixed-aside: 30px;
  }

  .portfolio-item-image-ctn {
    height: 400px;
  }

  .portfolio-alt-box {
    max-width: 250px;
  }

  .portfolio-item-tags-list {
    display: block;
  }
}

@media (min-width: 1200px) {
  :root {
    --fixed-aside: 40px;
  }

  .ctn {
    width: 100%;
  }

  .about-ctn {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .portfolio {
    margin-top: 80px;
  }
  .portfolio-item-description-ctn {
    width: 30%;
  }
  .portfolio-item-image-ctn {
    width: 65%;
    height: 480px;
  }

  .portfolio-alt-box {
    max-width: 300px;
    margin: 8px 8px;
  }
}
