.header {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background: #fff;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.072);
  transform: translateY(0px);
  transition: 300ms;
}

.logo-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 0.64px;
}

.logo-box a {
  text-decoration: none;
  color: inherit;
}

.logo-img {
  --size: 56px;
  width: var(--size);
  height: var(--size);
  object-fit: contain;
}

.nav {
  display: none;
  height: 100%;
}

.nav-list {
  height: 100%;
  list-style: none;
  margin-left: auto;
}

.nav-item {
  height: 100%;
  margin-right: 56px;
}

.nav-item:last-child {
  margin-right: 16px;
}

.nav-link,
.logo {
  position: relative;
  display: inline-block;
  font-size: 0.82rem;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.nav-link {
  color: var(--color400);
  font-weight: 600;
}

/* .nav-link-cta {
  height: auto;
  border-radius: 8px;
  color: inherit;
  padding: 8px 16px;
  text-decoration: 2px underline wavy var(--color500);
} */

.nav-link:focus-within,
.nav-link:hover,
.nav-link-cta:hover,
.nav-link-cta:focus-within {
  color: var(--color300);
  text-decoration: 2px underline wavy var(--color500);
}

.menu-box {
  --size: 48px;
  position: relative;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}

.menu-box::before,
.menu-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 2px;
  background: var(--color400);
  transition: 300ms;
}

.menu-box::before {
  transform: translate(-50%, -4px);
}

.menu-box::after {
  transform: translate(-50%, 4px);
}

.menu-box.active::before {
  transform: translate(-50%, 0) rotate(-45deg);
}

.menu-box.active::after {
  transform: translate(-50%, 0) rotate(45deg);
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-flex-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
