.portfolio-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-item {
  width: 95%;
  margin: 24px auto 144px auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
}

.portfolio-item-image-ctn {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 24px;
}

.portfolio-img {
  border-radius: 8px;
}

.portfolio-item-description-ctn {
  width: 100%;
  padding: 0 8px;
}

.portfolio-item-name {
  text-transform: capitalize;
}

.portfolio-item-tags-list,
.portfolio-item-cta-list {
  width: 100%;
  list-style: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.portfolio-item-tags-list {
  display: block;
}

.portfolio-item-cta-list li,
.portfolio-item-tags-list li {
  display: inline-block;
  color: var(--color500);
}

.portfolio-item-tags-list li:not(:last-child),
.portfolio-item-cta-list li:not(:last-child) {
  margin-right: 16px;
}

.portfolio-description-text {
  width: 100%;
  margin: 12px 0 16px auto;
}

.portfolio-item-cta-box {
  width: 100%;
  padding: 8px 0;
}

.portfolio-item-cta-link {
  color: var(--color300);
  text-decoration: none;
}

.portfolio-alt-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto 48px auto;
}

.portfolio-alt-box {
  width: 90%;
  min-height: 280px;
  background: #fff;
  margin: 8px auto;
  border-radius: 4px;
  border: 1px solid #dbdbff;
  cursor: pointer;
}

.icon {
  font-size: 1.125rem;
}
